<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Flask Stopwatch</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>

    <body>
        <!-- 
        Stopwatch Display with Border
         Create clock-border class in CSS to style the border around the display
         -->
        <div class="clock-border">
            <h1 id="display">00:00:00</h1>
        </div>

        <button onclick="start()">Start</button>
        <button onclick="stop()">Stop</button>
        <button onclick="reset()">Reset</button>

        <!-- World Clocks Section -->
        <div id="world-clocks" class="world-clocks">
            {% for location in world_timezones %}
            <div class="clock" data-timezone="{{ location.timezone }}">
                <h4>{{ location.city }}</h4>
                <div class="time" id="clock-{{ loop.index }}"></div>
            </div>
            {% endfor %}
        </div>
    </body>

</html>